main ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

main ul li {
	margin: 0;
	padding: 0;
	flex-grow: 1;
	flex-basis: 25%;
	min-height: 25vw;
	overflow: hidden;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

main ul li[itemtype*="Event"],
main ul li[itemtype*="Person"] {
	flex-grow: 2;
	flex-basis: 50%;
	flex-shrink: 2;
}

main ul li.hero,
main ul li:first-child {
	flex-grow: 3;
	flex-basis: 75%;
	flex-shrink: 3;
}

main ul li[itemtype*="Event"]:nth-child(odd):not(:first-child),
main ul li[itemtype*="Person"]:nth-child(odd):not(:first-child) {
	flex-basis: 25%;
}

main ul p {
	display: none;
}

footer {
	padding: 0;
}

main ul li:nth-child(3n+1) {
	background-color: #6ad0f6;
}

main ul li:nth-child(3n+2) {
	background-color: #3A3A3A;
}

main ul li:nth-child(3n+3) {
	background-color: #8bf66a;
}

main ul li:nth-child(3n+4):nth-child(even) {
	background-color: rgb(254, 126, 78);
}

main ul li a,
main ul li h1 {
	color: white;
}

main ul li a {
	margin: 0 auto;
	align-self: center;
	text-decoration: none;
}

main ul li.hero h1,
main ul li:first-child h1 {
	padding-bottom: 0.625em;
	border-bottom-width: 0.3125em;
	border-bottom-style: solid;
	border-bottom-color: white;
}

main ul li a[href*="roundups"] h1:first-of-type {
	display: none;
}

main ul li a[href*="roundups"] h1:last-of-type {
	margin: 0;
	padding: 1.25em;
	border-style: solid;
	border-width: 0.5rem;
	border-color: white;
}

main ul li a[href*="roundups"] h1:last-of-type img {
	width: 1.6em;
	margin-bottom: 0.625em;
}

main ul li a[href*="roundups"] h1:last-of-type img:first-of-type {
	margin-right: 0.3125em;
}

main ul li a[href*="roundups"] h1:last-of-type img:last-of-type {
	margin-left: 0.3125em;
}

main ul li a[href*="roundups"] h1:last-of-type div {
	font-size: 5rem;
	line-height: 56px;
}

svg.event .day {
	text-anchor:middle;
	text-align:center;
	font-size: 0.4em;
}